<div class="animated fadeIn">
  <!--/.card-->
  <div class="row">
    <div class="col-sm-6 col-lg-6">
      <div class="brand-card">
        <div class="brand-card-header bg-twitter">
          <i class="fa fa-arrow-circle-up fa-lg mt-4"><span>  Offre</span></i>
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-value" *ngIf="offre_attente;">{{offre_attente}}</div>
            <div class="text-value" *ngIf="!offre_attente">0</div>
            <div class="text-uppercase text-muted small">offre en attente</div>
          </div>
          <div>
            <div class="text-value" *ngIf="offre_encours">{{offre_encours}}</div>
            <div class="text-value" *ngIf="!offre_encours">0</div>
            <div class="text-uppercase text-muted small">offre en cours</div>
          </div>
        </div>
      </div>
    </div><!--/.col-->

    <div class="col-sm-6 col-lg-6">
      <div class="brand-card">
        <div class="brand-card-header bg-youtube">
          <i class="fa fa-arrow-circle-down fa-lg mt-4"><span>  Demande</span></i>
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-value" *ngIf="demande_enattente;">{{demande_enattente}}</div>
            <div class="text-value" *ngIf="!demande_enattente">0</div>
            <div class="text-uppercase text-muted small">demande en attente</div>
          </div>
          <div>
            <div class="text-value" *ngIf="demande_encours">{{demande_encours}}</div>
            <div class="text-value" *ngIf="!demande_encours">0</div>
            <div class="text-uppercase text-muted small">demande en cours</div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
